/*
 *  Darsh - 1.2
 *  Author: Finetti Leonardo - FiNeXdesign 2007
 *  Homepage: http://www.finex.org
 *  Email: finex@finex.org
 *  Date: 30/10/20007
 */



/* COLORI:
 *
 *  - background: #0F0F0F
 *  - text, menu: #ABABAB
 *  - title: #FF0000
 *
 */


body {
  margin: 0;
  padding: 0;
  color: #808080;
  background:#000000 url("img/bg.jpg") repeat-y top center;
  font: 90% Verdana, Arial, Helvetica, sans-serif;
}

div#menu {
  text-align:center;
  clear:both;
  width:100%;
  padding-bottom:10px;
  margin-top:2px;
  color: #ABABAB;
}


#primary {
  font-size: 0.85em;
}
#primary a {
  font-weight: bold;
  color: #ABABAB;
  text-decoration:none;
}
#secondary {
  font-size: 0.85em;
}
#secondary a {
  font-weight: bold;
  color: #ABABAB;
  text-decoration:none;
}

#primary a:hover {
  color: #ABABAB;
  text-decoration:underline;
}
#secondary a:hover {
  color: #ABABAB;
  text-decoration:underline;
}



div#content {
  width:960px;
  margin:0 auto;
  font-size:0.9em;
}

div#main {
  float:left;
  padding-top:10px;
  padding-bottom:10px;
  width:700px;
}

div#main_full {
  float:left;
  padding-top:10px;
  padding-bottom:10px;
  width:960px;
}

div#sidebar {
  width:240px;
  border:0;
  margin:0;
  float:right;
  padding-right:10px;
}


div#footer {
  text-align:center;
  clear:both;
  width:100%;
  padding-top:20px;
  font-size:0.7em;
}


/* NODES */

.node {
  width:100%;
  text-align:justify;
}



#sidebar .node {

  width:100%;
  font-size: 0.8em;

}

#sidebar .node .title { text-align:left;}

#sidebar .node .links { visibility: hidden;}

.node .content{
  margin-left:10px;
  margin-right:10px;
}

#sidebar p {
  font-size: 0.8em;
  text-align:right;

}



#main h1 {
  margin-left:10px;
  margin-bottom:15px;
}

.node h2{
  margin-left:10px;
}

.node .submitted, .node .taxonomy {
  margin-left:15px;
  color: #999;
  font-size: 0.8em;
}

.node .picture {
border: 1px solid #ddd;
float: right;
margin: 0.5em;
}


.sticky {
padding: .5em;
background-color: #eee;
border: solid 1px #ddd;
}

/* COMMENTS */

.comment {
border: 1px solid #abc;
padding: .5em;
margin-bottom: 1em;
}
.comment .title a {
font-size: 1.1em;
font-weight: normal;
}
.comment .new {
text-align: right;
font-weight: bold;
font-size: 0.8em;
float: right;
color: #DDDDDD;
}
.comment .picture {
border: 1px solid #abc;
float: right;
margin: 0.5em;
}



/* ELEMENTS */

img {
  border: 0;
}

tr.odd td, tr.even td {
  padding: 0.3em;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1, h2 {
  font-size: 1.3em;
}

h3, h4, h5, h6 {
  font-size: 1.1em;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
  line-height:1.5em;
}
a {
text-decoration: none;
font-weight: bold;
}
a:link {
color: #DDDDDD;
}
a:visited {
color: #DDDDDD;
}
a:hover {
color: #DDDDDD;
text-decoration: underline;
}
fieldset {
border: 1px solid #ccc;
}
pre {
background-color: #eee;
padding: 0.75em 1.5em;
font-size: 12px;
border: 1px solid #ddd;
}

.form-item label {
  font-size: 1em;
  color: #ababab;
}
.item-list .title {
  font-size: 1em;
  color: #ababab;
}
.links {
  margin-bottom: 15px;
  margin-left:10px;
  margin-top:10px;
}
.comment .links {
  margin-bottom: 0em;
}

.textarea, .form-text, .form-text, .form-textarea{
background-color:#0a0a0a;
color:#ababab;
border: 1px solid #ababab;
}

#mission, .node .content, .comment .content {
  line-height: 1.4;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
#main .breadcrumb {
  margin-bottom: .5em;
  margin-left:10px;
}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: #DDDDDD;
}



.title, .title a {
  font-weight: bold;
  color: #ff0000;
  margin: 0 auto 0 auto;
}

.title {
  color: #ff0000;
}

.submitted {
  color: #999;
  font-size: 0.8em;
}
.links {
  color: #999;
}
.links a {
  font-weight: bold;
  color:#808080;
}
.block, .box {
  padding: 0 0 1.5em 0;
}
.block {
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
}
.block .title {
  margin-bottom: .25em;
  text-align:right;
}
.box .title {
  font-size: 0.95em;
}


/*
** Module specific styles
*/
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
.calendar a {
  text-decoration: none;
}
.calendar td, .calendar th {
  padding: 0.4em 0;
  border-color: #888;
}
.calendar .day-today {
background-color: #DDDDDD;
}
.calendar .day-today a {
  color: #fff;
}
.calendar .day-selected {
background-color: #DDDDDD;
  color: #fff;
}
.calendar .header-week {
  background-color: #ccc;
}
.calendar .day-blank {
  background-color: #ccc;
}
.calendar .row-week td a:hover {
  background-color: #fff; color: #000;
}




#main a,#main a:visited  {
color: #DDDDDD;
text-decoration:none;

}

#main a:hover {
color:#DDDDDD;
text-decoration:underline;
}

#main .title a
#main .title a:link
#main .title a:visited
#main .title a:active {
  color:red;
}

#main .title a:hover{
/*   color:#DDDDDD; */
}

#sidebar a,#sidebar a:visited  {
color: #DDDDDD;
text-decoration:none;

}

#sidebar a:hover {
color:#DDDDDD;
text-decoration:underline;
}

.read-more { text-align:right;}

#pager {
  text-align:center;
/*   margin-bottom:5px; */
  clear:both;
}
#pager a{ padding-left:10px; padding-right:10px;}

#pager .pager-current{ text-decoration:underline;}

#sidebar_left img { border: 1px solid black;}

.feed-icon { margin-left:10px;}


.node_full p{
  margin-left:10px;
}




div#footer a {
color: #DDDDDD;
text-decoration:underline;
}
div#footer a:hover {
color: #DDDDDD;
text-decoration:underline;
}



div#header{
 width: 960px;
 height: 265px;
 background:url("img/header.jpg") no-repeat 0 0;
 display:block;
/*  float:none; */
 clear:both;
 margin:0 auto;
}


div.view p {
  margin-left:10px;
}

div#author{
  margin-top:5px;
}

.node img{
  border: 1px solid #898586;
}


ul.tabs li a{
  background-color: black;
  color:white;
}

ul.tabs li a:hover{
  color:black;
}


ul.tabs li.active a{
  background-color: #606060;
  color:white;
}


ul.tabs li.active a{
  color:white;
}

tbody {
  border-top:0;
}

.poll .bar{
  background-color:#bbbbbb;
}
.poll .bar .foreground{
  background-color:#ff0000;
}